.profile-picture-container {
  position: relative;
  display: inline-block;
}
.channel-tooltip{
  background-color: white;
  width: 200px;
  padding: 10px 10px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  position: absolute;
  top:45px;
  z-index: 300;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  transition: opacity 0.15s;
  
}
.profile-picture-container:hover .channel-tooltip{
  opacity: 1;
}
.channel-tooltip-picture{
        width: 36px;
        height: 36px;
        border-radius: 50%; 
        margin-right: 8px;
  
 }
 .channel-tooltip-name {
  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 4px;
  
}
.channel-tooltip-stats {
  font-family: Roboto, Arial;
  color: rgb(96, 96, 96);
  font-size: 12px;
 
}