.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgb(229, 225, 225);
  z-index: 100;
}
.left-section{
  display: flex;
  align-items: center; 
  margin-right: 50px;
}
.hamburger-menu{
  height: 20px;
  margin-left: 24px;
  margin-right: 24px;
}
.ytlogo{
  height: 20px;
}
.middle-section{
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 40px;
  max-width: 600px;
}
.search-bar{
  flex: 1;
  height: 36px;
  font-size: 14px;
  border:1px solid rgb(189, 185, 185); 
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width: 0;
}
.search-bar::placeholder{
  font-family: Roboto,Arial;
  font-size: 14px;
  padding-left: 12px;
}
.search-button{
    height: 36px;
    width: 70px;
    background-color: rgb(231, 226, 226);
    border: 1px solid rgb(189, 185, 185);
    margin-left: -1px;
   
}
.search-icon{
  height: 25px;
  
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-app-container,
.notifications-container
{
     position: relative;
     display:flex;
     justify-content: center;
     align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-app-container .tooltip,
.notifications-container .tooltip
{
  background-color: rgb(116, 114, 114);
  position: absolute;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  font-family: Roboto,Arial;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
  transition: 0.15s;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-app-container:hover .tooltip,
.notifications-container:hover .tooltip{
  opacity: 1;
}

.voice-search-button{
  height: 36px;
  width: 36px;
  margin-left: 10px;
  border-radius: 18px;
  border:none;
  border-color: rgb(189, 185, 185);
  background: rgb(238, 235, 235);
}
.voice-search-icon{
  height: 25px;
}
.right-section{
  width: 180px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.upload-icon{
  height: 25px;
}
.ytapps-icon{
  height: 25px;
}
.notifications-icon{
  height: 25px;

}
.user-profile{
  height: 32px;
  border-radius:16px ;

}
.notifications-container{
  position:relative;
}
.notifications-counts{
  position:absolute;
  top:-2px;
  right: -5px;
  background-color: rgb(129, 7, 7);
  color: white;
 
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
}
