      .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        column-gap: 20px;
        row-gap: 20px;  
       
      }

      @media (max-width: 1000px) {
            .video-grid {
              grid-template-columns: 1fr 1fr 1fr;
          }
      }

      @media (max-width: 750px) {
        .video-grid {
          grid-template-columns: 1fr 1fr ;
        }
      }

      @media(max-width:450px){
        .video-grid{
          grid-template-columns: 1fr;
        }
      }
      .thumbnail-row{
        margin-bottom:10px;
        position: relative;
      }
      .video-length{
        position: absolute;
        background-color: black;
        color: white;
        right:5px;
        bottom:7px;
        padding: 2px 5px;
        border-radius: 2px;
        font-weight: 500;
        font-size: 13px;
      }
      .t-pic{
        width: 100%;
        display: block; 
       
      }
      .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
      }
      .profile-pic{
        width: 36px;
        height: 36px;
        border-radius: 50%; 
      }
      .video-info{
        min-width: 0;
      }
      .video-title-link{
        text-decoration: none;
        color: black;
      }

      .video-title{
       font-size: 14px;
       font-weight: 500;
       line-height: 20px;
       margin-top: 0;
       margin-bottom: 7px;
       max-height: 40px;
       overflow: hidden;
       text-overflow: ellipsis;
       display:-webkit-box;
       -webkit-line-clamp: 2;
       -webkit-box-orient: vertical;
        
      }
      .author,
      .stats{
        font-size: 11px; 
        color:rgba(96,96,96);
        margin-top: 0;
        margin-bottom: 0;
        
      }
      .author{
        margin-bottom: 4px;
      }  
     
     
  